.div-main-card {
    width: 100%;
    height: 170px;
    margin-bottom: 18px;
}

.div-rectangle {
    width: 170px;
    position: relative;
    height: 1100px;
    top: -519px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #888888 19.79%, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%);
    transform: rotate(-90deg);
    margin: auto;
}

.img-celebrity-picture {
    width: auto;
    height: 170px;
    position: absolute;
    mix-blend-mode: multiply;
}

.a-celebrity-name {
    z-index: 1;
    font-family: Lato;
    font-style: normal;
    font-size: 36px;
    height: 63px;
    color: #FFFFFF;
    position: absolute;
    left: 263px;
    font-weight: 400;
}

.div-celebrity-container-description {
    width: 548px;
    height: 260px;
    position: absolute;
}

.a-celebrity-description {
    z-index: 1;
    position: relative;
    left: 263px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    top: 47px;
    line-height: 21.6px;
}

.div-celebrity-container-lastupdated {
    top: 8px;
    position: relative;
    right: 14px;
}

.a-celebrity-lastupdated {
    z-index: 1;
    color:white;
    position: absolute;
    right: 0;
}