.div-card-view {
    width: 100%;
}

.div-grid-card-view {
    width: 110%;
}

.div-main-card {
    height: 170px;
    margin-bottom: 18px;
}

.div-rectangle {
    width: 170px;
    position: relative;
    top: -519px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #888888 19.79%, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%);
    transform: rotate(-90deg);
    margin: auto;
}

.img-celebrity-picture {
    width: auto;
    height: 170px;
    position: absolute;
    mix-blend-mode: multiply;
}

.a-celebrity-name {
    z-index: 1;
    font-family: Lato;
    font-style: normal;
    font-size: 36px;
    height: 63px;
    color: #FFFFFF;
    position: absolute;
    left: 263px;
    font-weight: 400;
}

.div-celebrity-container-description {
    width: 548px;
    height: 260px;
    position: absolute;
}

.a-celebrity-description {
    z-index: 1;
    position: relative;
    left: 263px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    top: 47px;
    line-height: 21.6px;
}

.div-celebrity-container-lastupdated {
    position: relative;
    top: 8px;
    right: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
}

.a-celebrity-lastupdated {
    z-index: 1;
    color:white;
    position: absolute;
    right: 0;
}

/* Grid card */
.div-grid-card {
    width: 348px;
    height: 348px;
    float: left;
    margin: 0 27px 27px 0;
}

.img-celebrity-grid {
    width: 348px;
    height: 348px;
}

.a-celebrity-name-in-grid {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    top: -230px;
    left: 38px;
    width: 80%;
    height: 43px;
}

.div-celebrity-container-description-grid {
    width: 276.02px;
    height: 260px;
    position: absolute;
}

.a-celebrity-description-grid {
    position: relative;
    left: 38px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;    
    color: #FFFFFF;
    top: -230px;
    line-height: 21.6px;
}

.div-celebrity-container-lastupdated-grid {
    position: relative;
    top: 8px;
    right: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
}

.a-celebrity-lastupdated-grid {
    position: relative;    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    top: -178px;
    right: 83px;
}
