<div class="div-main-card">
    <!-- Celebritie picture -->
    <img class="img-celebrity-picture" src="../../../../../assets/img/{{celebrity.picture}}">
    <!-- Celebrity name -->
    <div>
        <a class="a-celebrity-name"> 
            {{celebrity.name}}
        </a>
    </div>
    <!-- Celebrity description -->
    <div class="div-celebrity-container-description">
        <a class="a-celebrity-description"> 
            {{celebrity.description}}
        </a>
    </div>
    <!-- lastUpdated -->
    <div class="div-celebrity-container-lastupdated">
        <a class="a-celebrity-lastupdated"> 
            {{celebrity.lastUpdatedMessage}}
        </a>
    </div>
    <!-- score -->
    <app-score [rectangleHeight]="rectangleHeight" [celebrity]="celebrity"></app-score>
    <!-- vote -->
    <app-vote [celebrity]="celebrity"></app-vote>
    <!-- banner__background -->
    <div class="div-rectangle" [ngStyle]="{'height':getHeightRectangle()}"></div>
</div>
