.div-score-container {
    z-index: 1;
    position: relative;
    top: 116px;
}

.div-score-down {
    height: 54px;
    background: #F9AD1D99;
}

.div-score-up {
    height: 54px;
    background: #3CBBB499;
}