.app-main-component {
    width: 100%;
}

.a-title {
    width: 315px;
    height: 54px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 54px;
    /* identical to box height */
    color: #464646;
}

.div-celebrities {
    /* separate to cards */
    margin-top: 36px;
}