.a-title {
    width: 315px;
    height: 54px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 54px;
    /* identical to box height */
    color: #464646;
}

.select-view {
    width: 173px;
    height: 36px;
    border: 2px solid #333333;
    margin-top: 10px;
    padding-left: 40%;
}